__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/
venv/
env/
outputs/
tests/
dist/
build/
release/
*.log
.idea/
.vscode/
*.egg-info/
*.spec.bak
Thumbs.db
.DS_Store

scantool_public/vendor/e92/read_kernel/*.o
scantool_public/vendor/e92/read_kernel/*.elf
scantool_public/vendor/e92/read_kernel/*.map
scantool_public/vendor/e92/write_kernel/*.o
scantool_public/vendor/e92/write_kernel/*.elf
scantool_public/vendor/e92/write_kernel/*.map
scantool_public/vendor/e92/write_kernel_stock*.bin
